@import '../colors';

.figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.figure {
    &-circle {
        border-radius: 50%;
    }

    &-dark {
        &-red { background: $color-dark-red; }
        &-green { background: $color-dark-green; }
        &-blue { background: $color-dark-blue; }
        &-yellow { background: $color-dark-yellow; }
    }

    &-light {
        &-red { background: $color-light-red; }
        &-green { background: $color-light-green; }
        &-blue { background: $color-light-blue; }
        &-yellow { background: $color-light-yellow; }
    }

    &-hidden {
        display: none;
    }
}