$color-black: #111;
$color-neutral: #999;
$color-light: #ddd;

$color-dark-red: #aa0000;
$color-dark-green: #00aa00;
$color-dark-blue: #0000aa;
$color-dark-yellow: #aaaa00;

$color-light-red: #ff6666;
$color-light-green: #66ff66;
$color-light-blue: #6666ff;
$color-light-yellow: #ffff66;